#signinButton:hover {
    -fx-border-color: rgba(0,0,0,0.2);
}

#signinButton {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: rgba(0,0,0,0.1);
}

#loginContainer {
    -fx-background-color: teal;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: white;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #2F3033;
    /*-fx-padding: 0;*/
}

#mainMenu {
    -fx-background-color: #2F3033;
}

.center {
    -fx-background-color: #0b2e6b;
}

.champ-invalide {
    -fx-background-color: rgba(255,0,0,0.3);
    -fx-text-fill: red;
}

#error {
    -fx-background-color: rgba(255,0,0,0.5);
}

/*TABLE CSS*/

/*.table-view .table-row-cell {*/
/*    -fx-control-inner-background: rgba(0,0,0,0.3);*/
/*}*/