#signinButton:hover {
    -fx-border-color: rgba(0,0,0,0.2);
}

#signinButton {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: rgba(0,0,0,0.1);
}

#loginContainer {
    -fx-background-color: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: white;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #0f2027;
    /*-fx-padding: 0;*/
}

#mainMenu {
    -fx-background-color: #0f2027;
}

.center {
    -fx-background-color: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.champ-invalide {
    -fx-background-color: rgba(255,0,0,0.3);
    -fx-text-fill: red;
}

#error {
    -fx-background-color: rgba(255,0,0,0.5);
}

.tab-pane, .tab, .tab-header-background {
    -fx-background-color: linear-gradient(to top, #0f2027, #203a43, #2c5364);
    -fx-text-fill: white;
}

.tab {
    -fx-border-color: #2c5364;
}

.tab-header {
    -fx-color-label-visible: white;
}

.tab-label {
    -fx-text-fill: white;
}

.whiteComboBox .cell {
    -fx-text-fill: white;
}

.jfx-combo-box {
    -fx-background-color: rgba(255,255,255,0.7);
}

.jfx-combo-box .label {
    -fx-background-color: white;
}
